{% extends 'clienttemplates/clientbase.html' %} 
{% load static %} 
{% block content %}
<div class="card mx-auto mt-4" style="width: 24rem">
    <div class="card-header">
        <strong class="lead">Welcome to Login</strong>
    </div>
    <div class="card-body mt-n3">
        <!-- main-heading -->
        <h2 class="main-title-w3layouts mb-2 text-center text-white">
            Make Appointment
        </h2>

        <!--         	{% if error %}
          <li class="text-danger">password</li>
          {% endif %} -->
        <!-- <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button class="btn btn-info w-100 primary">Make Appointment</button>
        </form> -->

        <form  method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" id="name" name='name' placeholder="Enter your fullname...">
              </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" name='email' placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Phone</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name='mobile' placeholder="XXX-XXXX-XXX">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Enter your street address">
              </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">select Your Gender</label>
              <select class="form-control" name='gender' id="exampleFormControlSelect1">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="form-group row">
              <label for="example-date-input" class="col-2 col-form-label">Date</label>
              <div class="col-10">
                <input class="form-control" name='date' type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-time-input" class="col-2 col-form-label">Time</label>
              <div class="col-10">
                <input class="form-control" name='time' type="time" value="13:45:00" id="example-time-input">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Leave your message here</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name='message' rows="3"></textarea>
            </div>
            <button class="btn btn-info w-100 primary">Make Appointment</button>
          </form>
    </div>
</div>
{% endblock %}



<!-- department = models.ForeignKey(Department, on_delete=models.CASCADE)
    doctor = models.ForeignKey(Doctor, on_delete=models.CASCADE)
    name = models.CharField(max_length=200)
    address = models.CharField(max_length=200)
    gender = models.CharField(max_length=200, choices=GENDER)
    mobile = models.CharField(max_length=200, null=True, blank=True)
    email = models.EmailField(null=True, blank=True)
    date = models.DateField()
    time = models.TimeField()
    message = models.TextField(null=True, blank=True) -->