{% extends 'clienttemplates/clientbase.html' %} 
{% load static %} 
{% block content %}
<div class="card mx-auto mt-4" style="width: 24rem">
    <div class="card-header">
        <strong class="lead">Welcome to Login</strong>
    </div>
    <div class="card-body mt-n3">
        <!-- main-heading -->
        <h2 class="main-title-w3layouts mb-2 text-center text-white">
            Make Appointment
        </h2>

        <!--         	{% if error %}
          <li class="text-danger">password</li>
          {% endif %} -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button class="btn btn-info w-100 primary">Make Appointment</button>
        </form>
    </div>
</div>
{% endblock %}