{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}
<div class="form-group">
 
  <div class="about">
    <div class="abt-layer">
        <div class="container">
            <div class="about-main">
                <div class="about-right">
                    <h3 class="subheading-w3-agile">Make an Contact</h3>
                    <div class="form-control">
                      <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button>Submit</button>
                        
                     </form>
                    </div>
            </div>
        </div>
     </div>
  
</div>  
    <!-- //contact -->
    <!-- map -->
    <div class="map px-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.9922225621376!2d85.3195394142343!3d27.655712334367948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb177ecff27973%3A0xb57b2fbfc94f7fe7!2sSarobar%20Technology%20Pvt.%20Ltd.!5e0!3m2!1sen!2snp!4v1571133210098!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
{% endblock %}