{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}
<div class="about">
	<div class="abt-layer">
		<div class="container">
				
			<h3 class="text-center" class="text-success">Doctor List</h3><br>
					<!-- <i class='fas fa-file-medical-alt'></i> -->
			<i class="fa fa-bus" aria-hidden="true"></i>
<form method="GET">
	<div class="row">
	  	<div class="col-md-3">
	    	<select class="form-control" name="department">
	    		{% for dep in departments %}
				<option value="{{dep.title}}">{{dep.title}}</option>
	    		{% endfor %}
			</select>
	  	</div><br>
	  	<div class="col-md-3">
	   		<input class="form-control" type="text" placeholder="Search" name="name" aria-label="Search">
	  	</div>
	  	<div class="col-md-3">
	  		<button class="btn btn-info">Search</button>
	  	</div>
	</div>
</form>

<div class="row"> 
{% for doctor in doctors %}
    <div class="col-md-4 mt-2" >
	    <!-- <div class="shadow-none mb-4 style="background-color: #C7E3FF>  -->
		    <img src="{{doctor.image.url }}" class="img-fluid" style="height: 250px;width: 400px; object-fit: cover;">
		    <h3 class="text-center">{{doctor.name}}</h3>
		    <p class="text-center">{{doctor.department|truncatewords:"5"}}</p>
<!-- 		    <p>Speciapty:{{doctors.speciapty}}</p>                
		    <p>Quapfication:{{doctors.quapfication|truncatewords:"3"}}</p>
		    <p>Email{{doctors.email}}</p>
	       	<p>Experience{{doctors.experience|truncatewords:"5"}}</p>
		    <p>About{{doctors.about|truncatewords:"5"}}</p> -->
		<!-- </div> -->    
		   
    </div> 
{% endfor %}

</div>
</div>
</div>

{% endblock %}


{% block js %}
<script>
  $(document).ready(function () {
      $('select').selectize({
          sortField: 'text'
      });
  });
</script>  
{% endblock %}