{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}

 <h3>Search Results</h3>

 {% for blog in results %}

 <li> <a href="{% url 'hospitalapp:clientdoctor' %}">{{alldoctor.name}}</a></li> 

 {% empty %}
 <li>no results found.....</li>
{% endfor %}

{% endblock %}