{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<!--about-->
<div class="about">
  <div class="abt-layer">
    <div class="jumbotron">
      Please tick the sympotm list below
    </div>
    <div class="container">
       <form method="POST" class="row g-3 needs-validation" class="was-validated">
         {% csrf_token %}
         <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              {{ form.BreathingProblem }}
              <label for="id_{{ form.BreathingProblem.label }}">{{ form.BreathingProblem.label }}</label>  
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              {{ form.fever }}
              <label for="exampleInputEmail1">{{ form.fever.label }}</label>  
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              {{ form.DryCough }}
              <label for="exampleInputEmail1">{{ form.DryCough.label }}</label>  
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              {{ form.Sorethroat }}
              <label for="exampleInputEmail1">{{ form.Sorethroat.label }}</label>  
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              {{ form.HyperTension }}
              <label for="exampleInputEmail1">{{ form.HyperTension.label }}</label>  
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              {{ form.Abroadtravel }}
              <label for="exampleInputEmail1">{{ form.Abroadtravel.label }}</label>  
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              {{ form.ContactwithCOVIDPatient }}
              <label for="exampleInputEmail1">{{ form.ContactwithCOVIDPatient.label }}</label>  
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              {{ form.Attended_Large_Gathering }}
              <label for="exampleInputEmail1">{{ form.Attended_Large_Gathering.label }}</label>  
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              {{ form.Visited_Public_Exposed_Places }}
              <label for="exampleInputEmail1">{{ form.Visited_Public_Exposed_Places.label }}</label>  
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              {{ form.Family_working_in_Public_Places }}
              <label for="exampleInputEmail1">{{ form.Family_working_in_Public_Places.label }}</label>  
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ form.Pregencies.label }}</label> <br> 
              {{ form.Pregencies }}
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ form.Glucose.label }}</label>  <br> 
              {{ form.Glucose }}
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ form.BloodPressure.label }}</label>  <br> 
              {{ form.BloodPressure }}
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ form.SkinThickness.label }}</label>  <br> 
              {{ form.SkinThickness }}
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ form.Insulin.label }}</label>  <br> 
              {{ form.Insulin }}
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ form.BMI.label }}</label>  <br> 
              {{ form.BMI }}
             </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ form.Age.label }}</label> <br>  
              {{ form.Age }}
             </div>
           </div>
           <div class="col-md-4">
             <div class="form-group">
               <label for="exampleInputEmail1">{{ form.DiabetesPedigreeFunction.label }}</label> <br>  
               {{ form.DiabetesPedigreeFunction }}
              </div>
            </div>
         </div>
        <!-- {% for field in form %}
        <div class="checkBox">
        {{field}}
        <label for="{{ field.id_for_label }}" class="label" >{{field.html_name}}</label>
        </div>
      
        {% endfor %} -->
        
        <div class="col-12" style="margin-top: 20px;">
          <button class="btn btn-success" type="submit">Recommend Doctor</button>
        </div>
      </form>
    </div>

  </div>
</div>



</html>
{% endblock %}