{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}


<div class="about">
  <div class="abt-layer">
    <div class="container" style="margin-bottom: 50px;">
      
      <div class="row">
        <div class="container">
          <div class="jumbotron">
        <label>Dear Patients as per your symptoms</label><br>
        <label>Your Test Result for Covit-19 is {{result}}</label><br>
        <label>Your Test Result for Diabetes is 
          {{diab}}
        </label><br>
        <label>Please make appointment with the doctors we recommend</label>
      </div>
      </div>
      </div>
      
      <div class="row">
        {% for doctor in doctors %}
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Dr.{{doctor.name}}</h5>
              <p class="card-text">{{doctor.about}}</p>
              <p class="card-text">Distance {{doctor.dist }} K.M</p
              <a href="{% url 'hospitalapp:makeappointment' doctor.id %}" class="btn btn-primary">Make Appointment</a>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="col-12" >
          {{ my_map|safe }}
        </div>
        
      </div>
      
      
    </div>
  </div>
</div>

{% endblock %}  