{% extends 'clienttemplates/clientbase.html' %} 
{% load static %} 
{% block content %}
<div class="card mx-auto mt-4" style="width: 24rem">
    <div class="card-header">
        <strong class="lead">Appointment Success</strong>
    </div>
    <div class="card-body mt-n3">
        
    </div>
</div>
{% endblock %}



<!-- department = models.ForeignKey(Department, on_delete=models.CASCADE)
    doctor = models.ForeignKey(Doctor, on_delete=models.CASCADE)
    name = models.CharField(max_length=200)
    address = models.CharField(max_length=200)
    gender = models.CharField(max_length=200, choices=GENDER)
    mobile = models.CharField(max_length=200, null=True, blank=True)
    email = models.EmailField(null=True, blank=True)
    date = models.DateField()
    time = models.TimeField()
    message = models.TextField(null=True, blank=True) -->