{% extends 'admintemplates/adminbase.html' %}

{% load static %}

{% block content %}
<div class="bg-page py-5">
        <div class="container">
            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center text-white">Login</h2>
            <!--// main-heading -->
            <div class="form-body-w3-agile text-center w-lg-50 w-sm-75 w-100 mx-auto mt-5">
                
                    <div class="form-group">
                    	{% if error %}
		                <li class="text-danger">{{error}}</li>
		                {% endif %}
		                <form method="POST">
			             {% csrf_token %}
			             {{ form.as_p }}
		                 <button class="btn btn-info w-75 primary">Login</button>

		                </form>	
		                
		            </div>
		        
		    </div>
		</div>
</div>


{% endblock %}