{% extends 'admintemplates/adminbase.html' %}

{% load static %}

{% block content %}
<h2 class="main-title-w3layouts mb-2 text-center">Slider List</h2>
<!-- Tables content -->
<section class="tables-section">
	<!-- table1 -->
	

	<div class="outer-w3-agile mt-3">
		<!-- <h4 class="tittle-w3-agileits mb-4">Responsive Table</h4> -->
		<a href="" style="float: right;color: tomato;">Add new slider</a>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Title</th>
						<th scope="col">Caption</th>
						<th scope="col">Image</th>
						<th scope="col">Created at</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for slider in sliderlist %}
					<tr>
						<th scope="row">{{forloop.counter}}</th>
						<td>{{slider.title}}</td>
						<td>{{slider.caption}}</td>
						<td><img src="{{slider.image.url}}" width="100"></td>
						<td>{{slider.created_at}}</td>
						<td>
							<a class="btn btn-info" href="{% url 'hospitalapp:adminsliderupdate' slider.id %}">Update</a>
							<a class="btn btn-danger" href="{% url 'hospitalapp:adminsliderdelete' slider.id %}">Delete</a>
							<a class="btn btn-danger" href="{% url 'hospitalapp:adminslidercreate' %}">Create</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!--// table7 -->
	
</section>


{% endblock %}