{% extends 'admintemplates/adminbase.html' %}

{% load static %}

{% block content %}
<h2 class="main-title-w3layouts mb-2 text-center">Doctor List</h2>

<!-- Tables content -->
<section class="tables-section">
	<!-- table1 -->
	

	<div class="outer-w3-agile mt-3">
		<!-- <h4 class="tittle-w3-agileits mb-4">Responsive Table</h4> -->
		<a href="{% url 'hospitalapp:admindoctorcreate' %}" style="float: right;color: tomato;">Add new doctor</a>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						
						<th scope="col">Department</th>
						<th scope="col">Speciality</th>
						<th scope="col">Qualification</th>
						<th scope="col">Image</th>
						<th scope="col">Email</th>
						<th scope="col">Experience</th>
						<th scope="col">Created at</th>
						
					</tr>
				</thead>
			<tbody>
               {% for doctor in doctorsall %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{doctor.name}}</td>
		                
		                <td>{{doctor.department}}</td>
		                <td>{{doctor.speciality}}</td>
		                <td>{{doctor.qualification}}</td>
		                <td><img src="{{doctor.image.url }}" width="100"></td>
		                <td>{{doctor.email}}</td>
		                <td>{{doctor.experience}}</td>
		                <td>{{doctor.created_at}}</td>
					
				
                        <td>
	               	      <a class="btn btn-info" href="{% url 'hospitalapp:admindoctorupdate' doctor.id %}">Update</a>

					     <a class="btn btn-danger" href="{% url 'hospitalapp:admindoctordelete' doctor.id %}">Delete</a>
				        </td>
                    </tr>
               {% endfor %}
		    </tbody>
		</table>
	</div>
</div>
	<!--// table7 -->
	
</section>


{% endblock %}