{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Doctor Recommendation System</title>
        <!-- Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <meta
            name="keywords"
            content="Modernize Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"
        />
        <script>
            addEventListener(
                "load",
                function () {
                    setTimeout(hideURLbar, 0);
                },
                false
            );

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <!-- //Meta Tags -->

        <!-- Style-sheets -->
        <!-- Bootstrap Css -->
        <link
            href="{% static 'adminstatic/css/bootstrap.css' %}"
            rel="stylesheet"
            type="text/css"
            media="all"
        />
        <!-- Bootstrap Css -->
        <!-- Bars Css -->
        <link rel="stylesheet" href="{% static 'adminstatic/css/bar.css' %}" />
        <!--// Bars Css -->
        <!-- Calender Css -->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'adminstatic/css/pignose.calender.css' %}"
        />
        <!--// Calender Css -->
        <!-- Common Css -->
        <link
            href="{% static 'adminstatic/css/style.css' %}"
            rel="stylesheet"
            type="text/css"
            media="all"
        />
        <!--// Common Css -->
        <!-- Nav Css -->
        <link
            rel="stylesheet"
            href="{% static 'adminstatic/css/style4.css' %}"
        />
        <!--// Nav Css -->
        <!-- Fontawesome Css -->
        <link
            href="{% static 'adminstatic/css/fontawesome-all.css' %}"
            rel="stylesheet"
        />
        <!--// Fontawesome Css -->
        <!--// Style-sheets -->

        <!--web-fonts-->
        <link
            href="//fonts.googleapis.com/css?family=Poiret+One"
            rel="stylesheet"
        />
        <link
            href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
            rel="stylesheet"
        />
        <!--//web-fonts-->
    </head>

    <body>
        <div class="se-pre-con"></div>
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h1>
                        <a href="index.html">Doctor System</a>
                    </h1>
                    <span>M</span>
                </div>
                <div class="profile-bg"></div>
                <ul class="list-unstyled components">
                    <li>
                        <a
                            href="#homeSubmenu"
                            data-toggle="collapse"
                            aria-expanded="false"
                        >
                            <i class="fas fa-laptop"></i>
                            Sliders
                            <i class="fas fa-angle-down fa-pull-right"></i>
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a
                                    href="{% url 'hospitalapp:adminsliderlist' %}"
                                    >List Sliders</a
                                >
                            </li>
                            <li>
                                <a
                                    href="{% url 'hospitalapp:adminslidercreate' %}"
                                    >Add Slider</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'hospitalapp:admindoctorlist' %}">
                            <i class="fas fa-user-md"></i>
                            Doctors
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'hospitalapp:admindoctorlist' %}">
                            <i class="fas fa-stethoscope"></i>
                            Department
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'hospitalapp:adminappointment' %}">
                            <i class="fas fa-calendar"></i>
                            Appointment
                        </a>
                    </li>
                    <li>
                        <a
                            href="{% url 'hospitalapp:adminappointmenturgent' %}"
                        >
                            <i class="fas fa-calendar"></i>
                            Urgent Appointement
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">
                <!-- top-bar -->
                <nav class="navbar navbar-default mb-xl-5 mb-4">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button
                                type="button"
                                id="sidebarCollapse"
                                class="btn btn-info navbar-btn"
                            >
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                        <!-- Search-from -->
                        <form
                            action="#"
                            method="post"
                            class="form-inline mx-auto search-form"
                        >
                            <input
                                class="form-control mr-sm-2"
                                type="search"
                                placeholder="Search"
                                aria-label="Search"
                                required=""
                            />
                            <button
                                class="btn btn-style my-2 my-sm-0"
                                type="submit"
                            >
                                Search
                            </button>
                        </form>
                        <!--// Search-from -->
                        <ul class="top-icons-agileits-w3layouts float-right">
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <i class="far fa-bell"></i>
                                    <span class="badge">4</span>
                                </a>
                                <div
                                    class="dropdown-menu top-grid-scroll drop-1"
                                >
                                    <h3 class="sub-title-w3-agileits">
                                        User notifications
                                    </h3>
                                    <a href="#" class="dropdown-item mt-3">
                                        <div class="notif-img-agileinfo">
                                            <img
                                                src="{% static 'adminstatic/images/clone.jpg' %}"
                                                class="img-fluid"
                                                alt="Responsive image"
                                            />
                                        </div>
                                        <div class="notif-content-wthree">
                                            <p
                                                class="
                                                    paragraph-agileits-w3layouts
                                                    py-2
                                                "
                                            >
                                                <span class="text-diff"
                                                    >John Doe</span
                                                >
                                                Curabitur non nulla sit amet
                                                nisl tempus convallis quis ac
                                                lectus.
                                            </p>
                                            <h6>4 mins ago</h6>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item mt-3">
                                        <div class="notif-img-agileinfo">
                                            <img
                                                src="{% static 'adminstatic/images/clone.jpg' %}"
                                                class="img-fluid"
                                                alt="Responsive image"
                                            />
                                        </div>
                                        <div class="notif-content-wthree">
                                            <p
                                                class="
                                                    paragraph-agileits-w3layouts
                                                    py-2
                                                "
                                            >
                                                <span class="text-diff"
                                                    >Diana</span
                                                >
                                                Curabitur non nulla sit amet
                                                nisl tempus convallis quis ac
                                                lectus.
                                            </p>
                                            <h6>6 mins ago</h6>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item mt-3">
                                        <div class="notif-img-agileinfo">
                                            <img
                                                src="{% static 'adminstatic/images/clone.jpg' %}"
                                                class="img-fluid"
                                                alt="Responsive image"
                                            />
                                        </div>
                                        <div class="notif-content-wthree">
                                            <p
                                                class="
                                                    paragraph-agileits-w3layouts
                                                    py-2
                                                "
                                            >
                                                <span class="text-diff"
                                                    >Steffie</span
                                                >
                                                Curabitur non nulla sit amet
                                                nisl tempus convallis quis ac
                                                lectus.
                                            </p>
                                            <h6>12 mins ago</h6>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item mt-3">
                                        <div class="notif-img-agileinfo">
                                            <img
                                                src="{% static 'adminstatic/images/clone.jpg' %}"
                                                class="img-fluid"
                                                alt="Responsive image"
                                            />
                                        </div>
                                        <div class="notif-content-wthree">
                                            <p
                                                class="
                                                    paragraph-agileits-w3layouts
                                                    py-2
                                                "
                                            >
                                                <span class="text-diff"
                                                    >Jack</span
                                                >
                                                Curabitur non nulla sit amet
                                                nisl tempus convallis quis ac
                                                lectus.
                                            </p>
                                            <h6>1 days ago</h6>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"
                                        >view all notifications</a
                                    >
                                </div>
                            </li>
                            <li class="nav-item dropdown mx-3">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown1"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <i class="fas fa-spinner"></i>
                                </a>
                                <div
                                    class="dropdown-menu top-grid-scroll drop-2"
                                >
                                    <h3 class="sub-title-w3-agileits">
                                        Shortcuts
                                    </h3>
                                    <a href="#" class="dropdown-item mt-3">
                                        <h4>
                                            <i class="fas fa-chart-pie mr-3"></i
                                            >Sed feugiat
                                        </h4>
                                    </a>
                                    <a href="#" class="dropdown-item mt-3">
                                        <h4>
                                            <i
                                                class="
                                                    fab
                                                    fa-connectdevelop
                                                    mr-3
                                                "
                                            ></i
                                            >Aliquam sed
                                        </h4>
                                    </a>
                                    <a href="#" class="dropdown-item mt-3">
                                        <h4>
                                            <i class="fas fa-tasks mr-3"></i
                                            >Lorem ipsum
                                        </h4>
                                    </a>
                                    <a href="#" class="dropdown-item mt-3">
                                        <h4>
                                            <i
                                                class="fab fa-superpowers mr-3"
                                            ></i
                                            >Cras rutrum
                                        </h4>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown2"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <i class="far fa-user"></i>
                                </a>
                                <div class="dropdown-menu drop-3">
                                    <div class="profile d-flex mr-o"></div>
                                    {% if request.user.is_authenticated %}
                                    <a href="" class="dropdown-item mt-3"
                                        >{{request.user}}</a
                                    >
                                    <a
                                        href="{% url 'hospitalapp:adminlogin' %}"
                                        class="dropdown-item mt-3"
                                    >
                                        <h4>
                                            <i class="far fa-user mr-3"></i
                                            >logout
                                        </h4>
                                    </a>
                                    {% else %}
                                    <a
                                        href="{% url 'hospitalapp:adminlogin' %}"
                                        class="dropdown-item mt-3"
                                    >
                                        <h4>
                                            <i class="far fa-user mr-3"></i
                                            >login
                                        </h4>
                                    </a>
                                    <a
                                        href="{% url 'hospitalapp:adminregistration' %}"
                                        class="dropdown-item mt-3"
                                    >
                                        <h4>
                                            <i class="fas fa-link mr-3"></i>sign
                                            up
                                        </h4>
                                    </a>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!--// top-bar -->
                {% block content %} {% endblock %}

                <!-- Copyright -->
                <div
                    class="
                        copyright-w3layouts
                        py-xl-3 py-2
                        mt-xl-5 mt-4
                        text-center
                    "
                >
                    <p>
                        
                        <a href="http://w3layouts.com/"> Doctor </a>
                    </p>
                </div>
                <!--// Copyright -->
            </div>
        </div>
        <script src="{% static 'adminstatic/js/jquery-2.2.3.min.js' %}"></script>
        <!-- //Required common Js -->

        <!-- loading-gif Js -->
        <script src="{% static 'adminstatic/js/modernizr.js' %}"></script>
        <script>
            //paste this code under head tag or in a seperate js file.
            // Wait for window load
            $(window).load(function () {
                // Animate loader off screen
                $(".se-pre-con").fadeOut("slow");
            });
        </script>
        <!--// loading-gif Js -->

        <!-- Sidebar-nav Js -->
        <script>
            $(document).ready(function () {
                $("#sidebarCollapse").on("click", function () {
                    $("#sidebar").toggleClass("active");
                });
            });
        </script>
        <!--// Sidebar-nav Js -->

        <!-- Graph -->
        <script src="{% static 'adminstatic/js/SimpleChart.js' %}"></script>
        <script>
            var graphdata4 = {
                linecolor: "Random",
                title: "Thursday",
                values: [
                    {
                        X: "6",
                        Y: 300.0,
                    },
                    {
                        X: "7",
                        Y: 101.98,
                    },
                    {
                        X: "8",
                        Y: 140.0,
                    },
                    {
                        X: "9",
                        Y: 340.0,
                    },
                    {
                        X: "10",
                        Y: 470.25,
                    },
                    {
                        X: "11",
                        Y: 180.56,
                    },
                    {
                        X: "12",
                        Y: 680.57,
                    },
                    {
                        X: "13",
                        Y: 740.0,
                    },
                    {
                        X: "14",
                        Y: 800.89,
                    },
                    {
                        X: "15",
                        Y: 420.57,
                    },
                    {
                        X: "16",
                        Y: 980.24,
                    },
                    {
                        X: "17",
                        Y: 1080.0,
                    },
                    {
                        X: "18",
                        Y: 140.24,
                    },
                    {
                        X: "19",
                        Y: 140.58,
                    },
                    {
                        X: "20",
                        Y: 110.54,
                    },
                    {
                        X: "21",
                        Y: 480.0,
                    },
                    {
                        X: "22",
                        Y: 580.0,
                    },
                    {
                        X: "23",
                        Y: 340.89,
                    },
                    {
                        X: "0",
                        Y: 100.26,
                    },
                    {
                        X: "1",
                        Y: 1480.89,
                    },
                    {
                        X: "2",
                        Y: 1380.87,
                    },
                    {
                        X: "3",
                        Y: 1640.0,
                    },
                    {
                        X: "4",
                        Y: 1700.0,
                    },
                ],
            };
            $(function () {
                $("#Hybridgraph").SimpleChart({
                    ChartType: "Hybrid",
                    toolwidth: "50",
                    toolheight: "25",
                    axiscolor: "#E6E6E6",
                    textcolor: "#6E6E6E",
                    showlegends: false,
                    data: [graphdata4],
                    legendsize: "140",
                    legendposition: "bottom",
                    xaxislabel: "Hours",
                    title: "Weekly Profit",
                    yaxislabel: "Profit in $",
                });
            });
        </script>
        <!--// Graph -->
        <!-- Bar-chart -->
        <script src="{% static 'adminstatic/js/rumcaJS.js' %}"></script>
        <script src="{% static 'adminstatic/js/example.js' %}"></script>
        <!--// Bar-chart -->
        <!-- Calender -->
        <script src="{% static 'adminstatic/js/moment.min.js' %}"></script>
        <script src="{% static 'adminstatic/js/pignose.calender.js' %}"></script>
        <script>
            //<![CDATA[
            $(function () {
                $(".calender").pignoseCalender({
                    select: function (date, obj) {
                        obj.calender
                            .parent()
                            .next()
                            .show()
                            .text(
                                "You selected " +
                                    (date[0] === null
                                        ? "null"
                                        : date[0].format("YYYY-MM-DD")) +
                                    "."
                            );
                    },
                });

                $(".multi-select-calender").pignoseCalender({
                    multiple: true,
                    select: function (date, obj) {
                        obj.calender
                            .parent()
                            .next()
                            .show()
                            .text(
                                "You selected " +
                                    (date[0] === null
                                        ? "null"
                                        : date[0].format("YYYY-MM-DD")) +
                                    "~" +
                                    (date[1] === null
                                        ? "null"
                                        : date[1].format("YYYY-MM-DD")) +
                                    "."
                            );
                    },
                });
            });
            //]]>
        </script>
        <!--// Calender -->

        <!-- profile-widget-dropdown js-->
        <script src="{% static 'adminstatic/js/script.js' %}"></script>
        <!--// profile-widget-dropdown js-->

        <!-- Count-down -->
        <script src="{% static 'adminstatic/js/simplyCountdown.js' %}"></script>
        <link
            href="{% static 'adminstatic/css/simplyCountdown.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        <script>
            var d = new Date();
            simplyCountdown("simply-countdown-custom", {
                year: d.getFullYear(),
                month: d.getMonth() + 2,
                day: 25,
            });
        </script>
        <!--// Count-down -->

        <!-- pie-chart -->
        <script src="{% static 'adminstaticjs/amcharts.js' %}"></script>
        <script>
            var chart;
            var legend;

            var chartData = [
                {
                    country: "Lithuania",
                    value: 260,
                },
                {
                    country: "Ireland",
                    value: 201,
                },
                {
                    country: "Germany",
                    value: 65,
                },
                {
                    country: "Australia",
                    value: 39,
                },
                {
                    country: "UK",
                    value: 19,
                },
                {
                    country: "Latvia",
                    value: 10,
                },
            ];

            AmCharts.ready(function () {
                // PIE CHART
                chart = new AmCharts.AmPieChart();
                chart.dataProvider = chartData;
                chart.titleField = "country";
                chart.valueField = "value";
                chart.outlineColor = "";
                chart.outlineAlpha = 0.8;
                chart.outlineThickness = 2;
                // this makes the chart 3D
                chart.depth3D = 20;
                chart.angle = 30;

                // WRITE
                chart.write("chartdiv");
            });
        </script>
        <!--// pie-chart -->

        <!-- dropdown nav -->
        <script>
            $(document).ready(function () {
                $(".dropdown").hover(
                    function () {
                        $(".dropdown-menu", this)
                            .stop(true, true)
                            .slideDown("fast");
                        $(this).toggleClass("open");
                    },
                    function () {
                        $(".dropdown-menu", this)
                            .stop(true, true)
                            .slideUp("fast");
                        $(this).toggleClass("open");
                    }
                );
            });
        </script>
        <!-- //dropdown nav -->

        <!-- Js for bootstrap working-->
        <script src="{% static 'adminstatic/js/bootstrap.min.js' %}"></script>

        <!-- Required common Js -->

        <!-- //Js for bootstrap working -->
    </body>
</html>
