{% extends 'admintemplates/adminbase.html' %}

{% load static %}

{% block content %}
<h2 class="main-title-w3layouts mb-2 text-center">Appointment List</h2>
<section class="tables-section">


	<!-- table1 -->
	

<div class="outer-w3-agile mt-3">
  <div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Department</th>
				<th scope="col">Doctor</th>
				<th scope="col">Name</th>
				<th scope="col">Address</th>
				<th scope="col">Gender</th>
				<th scope="col">Mobile</th>
				<th scope="col">Email</th>
				<th scope="col">Date</th>
				<th scope="col">Time</th>
				<th scope="col">Message</th>
				<th scope="col">Created at</th>
						
			</tr>
		</thead>
	<tbody>
		{% for appointment in allappoinments %}

            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{appointment.department}}</td>
                <td>{{appointment.doctor}}</td>
                <td>{{appointment.name}}</td>
                <td>{{appointment.address}}</td>
                <td>{{appointment.gender}}</td>
                <td>{{appointment.mobile}}</td>
                <td>{{appointment.email}}</td>
                <td>{{appointment.date}}</td>
                <td>{{appointment.time}}</td>
                <td>{{appointment.message}}</td>
                <td>{{appointment.created_at}}</td>

            </tr>


                   

	{% endfor %}
	</tbody>
</table>
</div>




</div>
</section>




{% endblock %}


