{% extends 'admintemplates/adminbase.html' %}

{% load static %}

{% block content %}
<h2 class="main-title-w3layouts mb-2 text-center">Doctor Delete</h2>
<!-- Tables content -->
<section class="tables-section">
	<!-- table1 -->
	

	<div class="outer-w3-agile mt-3">
		<!-- <h4 class="tittle-w3-agileits mb-4">Responsive Table</h4> -->
		<h4>Doctor Delete</h4>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<h4>Are you sure to delete {{object.name}}?</h4>
			<br>
			<button class="btn btn-danger">Yes</button>
			<a class="btn btn-info" href="{% url 'hospitalapp:admindoctorlist' %}">No</a>
		</form>
	</div>
</section>

{% endblock %}