{% extends 'admintemplates/adminbase.html' %}

{% load static %}

{% block content %}
<h2 class="main-title-w3layouts mb-2 text-center">Doctor List</h2>
<section class="tables-section">
	<!-- table1 -->
	

	<div class="outer-w3-agile mt-3">
		<!-- <h4 class="tittle-w3-agileits mb-4">Responsive Table</h4> -->
		<h4>Doctor Form</h4>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<br>
			<button class="btn btn-info w-50">Submit Data</button>
		</form>
	</div>
</section>

{% endblock %}